* {
	margin: 0;
	padding: 0
}

ul,
li,
a {
	list-style: none;
	text-decoration: none;
}

header {
	text-align: center;
	width: 100%;
	background-color: orange;
	color: whitesmoke;
	height: 50px;
	font-size: 24px;
	line-height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.slide_main {
	width: 300px;
	height: 100%;
	position: fixed;
	background-color: ghostwhite;
	z-index: 9;
	top: -680px;
	left: -300px;
}

#sliderSegmentedControl{
	margin-top:50px;
}

.slider_content {
	margin-left: 20px;
}

.slider_content p {
	height: 36px;
	font-size: 24px;
	line-height: 36px;
	margin: 10px 0;
	text-indent: 12px;
}

.weui-uploader__bd {
	margin-left: 20px;
}

.layers__layer_mask {
	position: absolute;
	width: 375px;
	height: 800px;
	z-index: 8;
}

.slide_main .bagTop {
	width: 100%;
	height: 200px;
	background: url(../images/6.jpg) no-repeat;
	background-size: cover;
}

.slide_main .bagTop h2 {
	padding-top: 15px;
	text-align: center;
	color: #1bfc8f;
	text-shadow: 2px 1px 2px rgba(229, 45, 228, 0.98);
}

#search_Bar {
	border-bottom: 1px solid #efeff4;
}

.swiper-container {
	background-color: #efeff4;
	width: 100%;
}


/*-----------*/

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


/*-----------*/

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 200px;
	/*position: relative;*/
}

.swiper-slide p {
	position: absolute;
	top: 25px;
	left: 50px;
	font-size: 16px;
	width: 16px;
	text-shadow: 2px 1px 2px rgba(8, 0, 8, 0.98);
}

.weui-tabbar {
	position: fixed;
	background-color: burlywood;
}

.weui-media-box__desc img {
	width: 80px;
	height: 60px;
}

.menu-button {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 9px;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	background-color: #ffa500;
	z-index: 100;
	/*margin: 14px;
			border-radius: 5px;*/
}

.menu-button .bar:nth-of-type(1) {
	margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
	margin-bottom: 0px;
}

.bar {
	position: relative;
	display: block;
	width: 35px;
	height: 4px;
	margin: 10px auto;
	background-color: #fff;
	border-radius: 10px;
	-webkit-transition: .3s;
	transition: .3s;
}

.menu-button:hover .bar:nth-of-type(1) {
	-webkit-transform: translateY(1.5px) rotate(0deg);
	-ms-transform: translateY(1.5px) rotate(0deg);
	transform: translateY(1.5px) rotate(0deg);
}

.menu-button:hover .bar:nth-of-type(2) {
	opacity: .9;
}

.menu-button:hover .bar:nth-of-type(3) {
	-webkit-transform: translateY(-1.5px) rotate(0deg);
	-ms-transform: translateY(-1.5px) rotate(0deg);
	transform: translateY(-1.5px) rotate(0deg);
}

.cross .bar:nth-of-type(1) {
	-webkit-transform: translateY(15px) rotate(-45deg);
	-ms-transform: translateY(15px) rotate(-45deg);
	transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
	opacity: 0;
}

.cross .bar:nth-of-type(3) {
	-webkit-transform: translateY(-13.5px) rotate(40.5deg);
	-ms-transform: translateY(-13.5px) rotate(40.5deg);
	transform: translateY(-13.5px) rotate(40.5deg);
}

.cross:hover .bar:nth-of-type(1) {
	-webkit-transform: translateY(15px) rotate(-45deg);
	-ms-transform: translateY(15px) rotate(-45deg);
	transform: translateY(15px) rotate(-45deg);
}

.cross:hover .bar:nth-of-type(2) {
	opacity: 0;
}

.cross:hover .bar:nth-of-type(3) {
	-webkit-transform: translateY(-13.5px) rotate(40.5deg);
	-ms-transform: translateY(-13.5px) rotate(40.5deg);
	transform: translateY(-13.5px) rotate(40.5deg);
}

.silde-left {
	animation: moveLeft;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.silde-right {
	animation: moveRight;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes moveLeft {
	from {
		transform: translateX(300px) translateY(628px);
		width: 300px;
	}
	to {
		width: 1px;
	}
}

@keyframes moveRight {
	from {}
	to {
		transform: translateX(300px) translateY(628px);
	}
}

.weui-panel__ft {
	/*margin-bottom: 50px;*/
}

.weui-loadmore__tips {
	margin-bottom: 50px;
}

.j_layer {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 8;
	opacity: 0.5;
	background-color: black;
}

.show_layers,
.showLoadmore {
	display: none;
}

.list_foot_cot a {
	color: black;
	margin-top: 5px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	text-align: center;
}

.list_foot_cot p {
	height: 20px;
	display: inline-block;
}

.share_Bg_b {
	background-color: blue;
}

.share_Bg_r {
	background-color: red;
}

.share_Bg_t {
	background-color: greenyellow;
}

.detailArticle {
	margin-top: 50px;
}

.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
	margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}